<h1>this is cam ground page</h1>


<% campgronds.forEach(function(camp){ %>

    <div width= 100px height =100px> 
        <h4><%= camp.name %> </h4>
          <img src="<%= camp.image %>" >
    </div>

<% }) %>
